@media screen and (max-width: 1024px) {
    
}

@media (min-width: 992px)
{
    .col-md-offset-2 {
        margin-left: 16.66667%;
    }
}
@media screen and (min-width: 768px) {
    .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    /* text-transform: uppercase; */
}
.navbar-toggle {
    display: none;
}
.header-right {
    text-align: right;
        margin-top: 25px;
        
}
.Header__buttons {
    float: right;
    text-align: left;
}

}
@media screen and  (max-width: 767px) {
    .padd-font {
        font-weight: 900;
    padding-bottom: 0px;
    }
    [class*=col-xs-]{ width: 100%; }
    
    .banner-section{
        height: auto!important;
    }
    .list-wrap{
        width: 100%;
    }
     .header-logo{
         width: 100%;
         text-align: center;
    }
    .nav-menu ul{
            margin: 0 auto;
    float: none;
    width: 53%;
    }
    header{
        padding-bottom: 20px;
            height: auto;
    }
    .header-right{
        margin-top: 20px;
    }
    .listing li {
    width: 100%;
    }
.site-navigation {
    margin-top: 155px;
}
}

@media screen and  (max-width:642px) {
.list-wrap-three{
width: 100%;
}
}

@media screen and  (max-width:568px) {

    .form-user-details {
        padding: 20px;
    }

    .form-section {
        border: 1px solid #EBEBEB;
        margin-bottom: 5px;
    }
    
    .subscription-plan .subscription-plan-content .subscription-plan-inner {
        min-height: 240px!important;
    }
    .header-logo{
         width: 100%;
         text-align: center;
    }
    .nav-menu ul{
            margin: 0 auto;
    float: none;
    width: 53%;
    }
    header{
        padding-bottom: 20px;
            height: auto;
    }
    .list-wrap {
        height: 200px;
    }
    .gallery-text {
        line-height: 175px;
    }
    .gallery-text:hover {
        line-height: 175px;
    }
    .close-banner {
        width: 80px;
    }
    .list-wrap-three {
        height: 200px;
    }
    .grid-ins-left {
        border-right: 0px;
    }
    .grid-ins-right {
        border-left: 0px;
    }
    .list-wrap-three {
        width: 33.33%;
    }
    .list-wrap-three {
        height: 185px;
    }
    .btn-sch {
        padding: 8px 11px;
    }
    .about-image {
        height: 200px;
    }
    .school-sec{
        padding-bottom:0px;
    }
    .college-sec {
        padding-bottom: 20px;
    }
    .padding-contact {
        padding-top: 0px;
        padding: 0px;
    }
    .contact-btn {
        background-color: #5a5757;
        padding: 10px 25px;
        font-weight: initial;
    }
    label {
        color: black;
        font-family: sans-serif;
    }
    .swiper-prev{
        left: 40%;
        margin-top: 45px;
    }
    .swiper-next {
        left: 58%;
        margin-top: 45px;
    }
    .inner-swiper {
        border: 1px solid black;
        padding: 10px;
    }
}

@media screen and  (max-width:400px) {
    .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    height: 480px!important;
    /* max-height: 583px; */
}
}