html {
   /*// background-color: #333*/
}

p {
    padding-bottom: 20px;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 20px;
    position: relative;
}

h2 {
    font-size: 24px;
    padding-bottom: 15px;
}

h1, h2 {
    font-weight: 500;
    text-transform: capitalize;
}

h3, h4, h5, h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}
h4,h5,h6{
  font-weight: 700;
}
h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
button{background-color: transparent}
input:focus, textarea:focus, select:focus, button:focus{
    outline: none
}
/*input, textarea, select{ text-transform:capitalize;}*/
a {
    color: #5c4b51;
}

a:hover, a.active {
    color: #f3b562
}

a:hover, a:focus {
    text-decoration: none;
}

.container {
    position: relative;
    width: 980px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.text-center {
    text-align: center;
}


strong {
    font-weight: 700;
}

/*header {
    background-color: rgba(245, 244, 244, 0.7);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
    box-shadow: 0 8px 6px -6px #ccc;
    height: auto;
    left: 0;
    position: r;
    width: 100%;
    top: 0;
    z-index: 99;
}*/

header.fixed {
    background-color: rgba(245, 244, 244, 1);
}

.fL {
    float: left;
}

.fR {
    float: right;
}

.logo {
    float: left;
    margin: 20px 20px;
    width: 150px;
}

nav li {
    /*float: left;*/
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

nav a {
    color: #5c4b51;
    display: block;
    padding: 33px 15px 25px;
}

nav a:hover {
    color: #f3b562;
}

.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

#banner {
    height: 100vH;
}
.slick-slide {
  display: none;
    outline: none
}
#banner.slick-initialized {
    display: block;
}

.slick-prev, .slick-next {
    display: none !important;
}

.section {
    padding: 60px 0;
}

.home-list {
    background-color: #fff;
}

.block-list, .news-list {
    margin: 0 -15px;
    overflow: hidden;
}

.block-list li {
    float: left;
    padding: 0 15px;
    width: 33.33%;
}

.block-list div {
    position: relative;
    overflow: hidden;
}

.block-list div:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}

.block-list span {
    color: #fff;
    display: block;
    font-size: 22px;
    font-weight: 700;
    left: 0;
    letter-spacing: 1px;
    padding: 0 20px;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 9;
}

.block-list img {
    width: 100%;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all .0.5s ease-in;
    -ms-transition: all .20.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all .0.5s ease-in;
}

.block-list li:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.news-wrapper {
    background-color: #f5f4f4;
    padding-bottom: 35px;
}

.news-wrapper h2 {
    font-size: 32px;
    padding-bottom: 50px;
    text-align: center;
}

.news-list li {
    float: left;
    margin-bottom: 20px;
    padding: 0 15px 0 200px;
    position: relative;
    width: 50%;
}

.news-list figure {
    left: 15px;
    position: absolute;
    width: 170px;
    top: 0;
}

.news-list h4, .news-list p {
    padding-bottom: 0;
}

#sub-wrapper {
    padding-top: 82px;
}

#sub-wrapper header {
    background-color: rgba(245, 244, 244, 1);
}

#footer {
    background-color: #333;
    color: #fff;
    font-size: 12px;
    padding: 15px 0;
    text-align: center;
}

.menu-trigger, .close-trigger {
    display: none;
    cursor: pointer;
    padding: 12px 10px;
    position: absolute;
    right: 0;
    width: 60px;
    top: inherit;
    z-index: 99999;
}

#hero-banner {
    position: relative;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

#hero-banner:before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 6;
}

.banner-title {
    color: #fff;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9;
}

.banner-title h1 {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.banner-title h1:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 1px;
    left: 50%;
    margin-left: -50px;
    position: absolute;
    width: 100px;
}

.breadcrumb li {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    padding: 0 5px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.breadcrumb li:before {
    content: "/";
    position: absolute;
    right: -3px;
}

.breadcrumb li:last-child:before {
    content: "";
}

.breadcrumb li, .breadcrumb a {
    color: #fff;
}

.breadcrumb a:hover {
    color: #f3b562;
}

#content-section>div {
    padding-top: 0px;
    padding-bottom: 50px;
}

.pull-top {
    background-color: #fff;
    max-width:  1170px;
    margin: -150px auto 0;
    position: relative;
    padding: 60px 60px 30px;
    overflow: hidden;
    z-index: 11;
    
    border:1px solid lightgray
}
.pull-top-memberadmin {
    background-color: #fff;
    max-width: 97%;
    min-width: 97%;
    margin: -150px auto 0;
    position: relative;
    padding: 60px 60px 30px;
    overflow: hidden;
    z-index: 11;
}
.pull-top >:last-child{ margin-bottom:0; padding-bottom:0;}
.middle-wrap {
    float: none;
    margin: 0 auto;
    padding: 0;
}


/*form section*/

.formBlk {
    padding-bottom: 15px;
}

.formRow {
    border-bottom: 2px solid #5c4b51;
    margin-bottom: 20px;
    position: relative;
}

.textBox, .textArea {
    background-color: transparent;
    border: none;
    padding: 10px;
    width: 100%;
}

.textBox {
    height: 50px;
}

.textArea {
    resize: none;
    vertical-align: top
}

.textArea {
    height: 150px;
}

.texteditor {
    height: 250px;
}

input[type="submit"] {
    /*//background-color: transparent;*/
}

.intro-blk {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}

.top-nav {
    margin-bottom: 50px;
}

.top-nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.top-nav li:before {
    content: "|";
    position: absolute;
    right: -3px;
}

.top-nav li:last-child:before {
    content: "";
}

::-webkit-input-placeholder {
    color: #5c4b51;
}

::-moz-placeholder {
    color: #5c4b51;
}

:-ms-input-placeholder {
    color: #5c4b51;
}

:-moz-placeholder {
    color: #5c4b51;
}


/*btn*/

.btn {
    border: 2px solid #5c4b51;
    color: #5c4b51;
    display: inline-block;
    font-weight: 700;
    height: 50px;
    min-width: 150px;
    margin-bottom: 20px;
    padding: 13px 15px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}

.btn-primary:hover {
    border: 2px solid #f3b562;
    background-color: #f3b562;
    color: #fff;
}


/*table*/

table {
    margin-bottom: 30px;
    width: 100%;
}

table tr td:first-child {
    border-left: none
}

table tr td, table tr th {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

table tr th {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.list-col {
    margin: 0 -15px;
    overflow: hidden;
}

.list-col li {
    float: left;
    width: 33.333%;
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}

table td i {
    padding: 0 10px;
}


/*member list*/

.member-list li {
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.member-list img {
    width: 100%;
}

.member-list span {
    border-bottom: 2px solid #dbdbdb;
    display: block;
    padding: 15px;
}

.page-list li>div {
    border: 1px solid #5c4b51;
    padding: 15px
}

.option-blk {
    text-align: center;
}

.option-blk a {
    display: inline-block;
    font-size: 22px;
    margin: 0 10px;
}

.page-list p {
    padding-bottom: 10px
}

.pager {
    margin-bottom: 30px
}

.pager li {
    border: 1px solid #5c4b51;
    height: 25px;
    font-size: 12px;
    float: left;
    font-weight: 700;
    margin: 0 3px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 25px;
}

.pager li:first-child {
    margin-left: 0;
}

.pager li:last-child {
    margin-right: 0;
}

.pager li a {
    display: block;
    padding: 5px;
}

.search-blk {
    border: 1px solid #5c4b51;
    float: left;
    width: 300px;
    /*padding-right: 50px;*/
    position: relative;
}

.search-blk .textBox {
    height: 40px;
}

.search-blk .submit-btn {
    border: none;
    height: 40px;
    font-weight: 700;
    position: absolute;
    width: 50px;
    right: 0;
    top: 0;
}

.acco-list li {
    width: 50%;
}

.acco-list li>div {
    border: 1px solid #5c4b51;
    padding: 15px;
}

.acco-list p {
    padding-bottom: 5px
}

.acco-list .option-blk {
    padding-top: 15px;
}

.member-details {
    background-color: #5c4b51;
    padding: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.member-details .col {
    float: left;
    width: 33.333%;
}

.member-details .col:last-child {
    width: 41%;
}

.member-details h2 {
    color: #fff;
    font-weight: 300;
    line-height: 26px;
}

.member-details h2 strong {
    display: block;
    font-weight: 600 !important;
}

.member-details .mem-profile {
    width: 25%;
}

.mem-table td {
    border: none;
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    line-height: 14px;
}

.mem-table td:last-child {
    font-weight: 600;
}

.mem-det {
    text-align: center
}

.mem-det li {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    padding: 10px 15px;
    margin: 0 2px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
}

.mem-det li span {
    display: block;
    font-size: 18px;
}

.batt-field th, .batt-field td {
    width: 7.69%;
}

.mem-stat th, .mem-stat td {
    font-size: 14px;
    word-break: break-all;
    line-height: 16px;
}

.mem-stat th {
    background-color: #fff;
    font-size: 14px
}

.mem-stat tr:nth-child(odd) {
    background-color: #f0f0ef
}

.mem-stat td, .mem-stat th {
    border-bottom: 1px solid #dbdbdb
}

.bolw-field th, .bolw-field td {
    width: 11.1111%;
}

.multi-select {
    border: none;
}

.multi-select select {
    height: 150px;
    width: 100%;
}

.ui-datepicker-next, .ui-datepicker-prev {
    position: relative;
}

.ui-datepicker-next:before {
    content: "\f105";
}

.ui-datepicker-prev:before {
    content: "\f104";
}

.ui-datepicker-next:before, .ui-datepicker-prev:before {
    font-family: 'FontAwesome';
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
}

.date-row {
    padding-right: 50px;
    position: relative;
}

.date-row:before {
    content: "\f073";
    font-size: 24px;
    font-family: 'FontAwesome';
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    right: 0;
    line-height: 50px;
}

.leg-list {
    text-align: center
}

.leg-list li a {
    border: 2px solid #dbdbdb;
    display: block;
    padding: 15px;
}

.leg-list img {
    width: 100px;
    margin: 0 auto;
}

.leg-list span {
    font-weight: 700;
    font-size: 28px;
    display: block;
    padding: 20px 0;
}

.half-width {
    overflow: hidden;
    margin: 0 -15px;
}

.half-width div {
    padding: 0 15px;
    width: 50%;
    float: left;
}
.select-menu{
    width:100%;
    border: none;
    padding:17px;
    background: transparent;
}
.fixtures-table img{ width:60px;}
.fixtures-table span{ font-weight:600; margin:0 10px;}
.add-score{ margin-bottom:20px;}
.add-score ul{border: 1px solid #dbdbdb; padding:10px 10px 5px; text-align: center}
.add-score li{border: 1px solid #dbdbdb; display:inline-block; height:40px;font-size:16px; font-weight:500; padding:8px 5px; margin:0 2px 6px; width:40px; vertical-align: top;}
.add-score li.active{border:1px solid #f3b562; background:#f3b562; color:#fff;}
.select-option{ border:1px solid #5c4b51; width:200px;}
.score-details h3{ padding-bottom:30px; text-align: center}
.total-table{ width:33.333%; overflow: hidden}
.total-table span{ width:50%; float: left}
.score-details{ margin-bottom:30px;}
.commentary-row ul{border: 1px solid #dbdbdb; padding:10px 10px 5px; margin-bottom:20px; text-align: center}
.commentary-row li{border: 1px solid #dbdbdb; display:inline-block; height:40px;font-size:16px; font-weight:500; padding:8px 5px; margin:0 2px 6px; width:40px; vertical-align:top;}
.sp-line{ text-align: center; position: relative; margin-bottom:10px;}
.sp-line:before{ background-color:#dbdbdb; height:1px; content:""; position: absolute; width:100%; left:0; top:50%; margin-top:-1px;}
.sp-line span{ display: inline-block; background-color:#fff; padding:5px 10px; position: relative;}

.live-score-page{ text-align: center}
.live-score-page .logo{ float:none; display: inline-block}
.summary{ background-color:#f3b562; padding:10px; color:#fff; text-align: center}
.score-summary{ background-color:#5c4b51; padding:30px 30px 0px; position: relative;}
.score-summary-det{max-width:700px; margin:0 auto;}
.teams-scores {color:#fff; position: relative; min-height:150px;}
.teams-scores img{ position:absolute; width:150px; top:0;}
.left-side{ padding-left:170px; text-align: right}
.left-side img{ left:0;}
.right-side{ padding-right:170px; text-align: left}
.right-side img{ right:0;}
.team-name{ font-size:14px; text-transform: uppercase; font-weight:600; letter-spacing:1px; padding-bottom:5px;;}
.team-score{ font-size:38px; font-weight:600; line-height:40px;}
.over-list{display: -webkit-flex; display: flex; padding-top:5px;}
.over-list span{ background-color:#fff; width:10px; height:10px; margin:0 1px;  -webkit-flex: 1;-ms-flex: 1;flex: 1;}
.over-list span.active{ opacity:0.5;}
.live-score-landing{ padding:50px 0; display: none;}
.live-score-landing >:last-child{ padding-bottom: 0; margin-bottom: 0}
.live-steam{border-bottom: 1px solid #dbdbdb; position: relative; padding-left:100px; margin-bottom:20px; overflow: hidden}
.live-score-landing .container{ background-color:#fff; padding:30px;}
.live-score-landing h2{ padding-bottom:40px;}
.l-steam-logo{ width:100px; margin-left:-100px; float: left; text-align: center}
.l-steam-logo i{ font-size:28px}
.l-ball{ background-color:rgba(0,0,0,0.6); width:40px; height:40px; border-radius:100%; display: inline-block; margin-bottom:5px; color:#fff; line-height:40px; text-align: center}
.l-time{ display: block; padding-top:10px; font-size:12px; color:#dbdbdb;}
.over-header{background-color:#f3b562; padding:15px 100px; margin-bottom:30px;position: relative;}
.over-header [class*="over-"]{font-size:16px; color:#fff; width: 100px;  position: absolute; font-weight: 600; text-align:center; top:25px}
.over-count{ left:0;}
.over-end-run{ right:0;}
.over-header .l-ball{ margin:0 3px;}
.spl-line{ position: relative;}
.spl-line [class*="col-xs"]{ position: static;}
.spl-line .col-xs-4:before{ content:""; background-color:#dbdbdb; height:100%; top:0; position: absolute; width:1px; right:33.333%}
.side-bar p{ padding-bottom:5px;}
.live-tab ul{ text-align: center;}
.live-tab li{ background-color:rgb(243, 181, 98); cursor:pointer; color:#ffffff; display:inline-block; padding:10px 15px; font-size:18px; font-weight:600; min-width:100px;}
.live-tab li.active{color:#1d1c1c;}
.scoreboard-list span{ width:50%; float:left;}
.scoreboard-list span img{ width:25px; margin-right:20px;}
.total-over, .total-over div{ overflow: hidden;}
.total-over div, .total-over div strong{ width:50%; float: left;}
.total-over div strong{ padding-left:6px;}
.final-total{ background-color:#dbdbdb; padding:5px 0; margin-bottom:20px;}
.fall-wicket{ margin-bottom:20px; display: block}
.live-score-landing .member-list{ margin-bottom:10px;}
.live-score-landing .member-list li{ width:20%;}
.scoreboard-list td{ overflow: hidden}


/* Top Menu*/
 ul li{
       display: block;
       position: relative;
       line-height: 21px;
/*        text-align: left;*/
   }
  
   ul li ul.dropdown{
       min-width: 190px; /* Set width of the dropdown */
       background: #f2f2f2 ;
       display: none;
       position: absolute;
       z-index: 999;
       left: 0;
   }
   ul li:hover ul.dropdown{
       display: block;    /* Display the dropdown */
   }
   ul li ul.dropdown li{
       display: block;
       width: 100%;
       line-height: 0px;
   }
   .list-col li {
    float: left;
    width: 33.333%;
    padding: 0 15px;
    margin-bottom: 30px;
    position: relative;
}
.leg-list img {
    width: 100px;
    margin: 0 auto;
}
.leg-list span {
    font-weight: 700;
    font-size: 28px;
    display: block;
    padding: 20px 0;
}
.leg-list li a {
    border: 2px solid #dbdbdb;
    display: block;
    padding: 15px;
}


/* CVVID Customisation*/

/* .cover-photo:before{
    background-color: rgba(0, 0, 0, 0.14);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 6;
} */
.cover-photo{
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.mem-det .btn {
    border: 2px solid #efcc8c;
    color: #ffffff;
    display: inline-block;
    font-weight: 700;
    height: 50px;
    min-width: 150px;
    margin-bottom: 2px;
    padding: 13px 15px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}
.skill-list {
    background-color: rgba(187, 185, 183, 0.25);
    padding: 8px;
    margin: 5px;
}

.skill-selected {
    background-color: antiquewhite;
    padding: 8px;
    margin: 5px;
}
.skill-block{
    background: #FFF;
    border: 2px solid #dbdbdb;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
  /*//  text-align: center;*/
   /*// width: 22%;*/
}
.mem-table td.res {
    color:black;
}
h3.res{
    color:black;
}
h4.res{
    background-color: black;
    color: white;
    font-size: x-large;
    padding: 10px;
}

#res-profile-exp,#res-profile-edu,#res-profile-hobbies,#res-profile-lang{
    padding: 17px;
    border: 1px solid lightgray;
}
#res-profile-header{
    text-align: center;
    background-color: black;
    padding-top: 10px;
}
.bcard-btn{
      border: 2px solid #5c4b51;
    color: #5c4b51;
    display: inline-block;
    font-weight: 700;
    height: 50px;
    margin-bottom: 20px;
    padding: 13px 15px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
}
.bcard-det{
    text-align: -webkit-center;
}
.profile-progress
{
    border: 1px solid #F9DF6E;
    box-shadow: none;
    height: 28px;
    margin-bottom: 0;
    position: relative;
}
.progress-status
{
    background: rgba(245, 237, 6, 0.75); 
}
.profile-btn
{
    border: 2px solid #5c4b51;
    color: #5c4b51;
    display: inline-block;
    font-size: 12px;
    height: 35px;
    min-width: 126px;
    /* margin-bottom: 0px; */
    padding: 5px 15px 10px;
    text-align: center;
    margin-top: 5px;
    /* text-transform: uppercase; */
    vertical-align: top;
}

/*menu dropdown*/

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
    display: block;
}

li>.dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu>li{
    width: 100%;
    float: none;
    padding: 10px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

/* Statistics table CSS */

div.stats {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.divTable.stats .divTableCell, .divTable.stats .divTableHead {
  padding: 8px 2px;
}
.divTable{ display: table; }
.divTableRow { display: table-row;border-bottom: 1px solid lightgray; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}

.btn-search
{
    background:none;
    border: 2px solid #5c4b51;
    color: #5c4b51;
    display: inline-block;
    font-weight: 700;
    height: 50px;
    min-width: 100px;
    margin-bottom: 20px;
    padding: 12px 15px 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    margin-right: 5px;
    margin-left: 5px;
}

/*side bar menu*/

.row {
    margin-right: 0;
    margin-left: 0;
}
/* 
    Sometimes the sub menus get too large for the page and prevent the menu from scrolling, limiting functionality
    A quick fix is to change .side-menu to 

    -> position:absolute
    
    and uncomment the code below.
    You also need to uncomment 
    
    -> <div class="absolute-wrapper"> </div> in the html file

    you also need to tweek the animation. Just uncomment the code in that section
    --------------------------------------------------------------------------------------------------------------------
    If you want to make it really neat i suggest you look into an alternative like http://areaaperta.com/nicescroll/
    This will allow the menu to say fixed on body scoll and scoll on the side bar if it get to large
*/
/*.absolute-wrapper{
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}*/

.side-menu {
    position: fixed;
    width: 220px;
    height: 100%;
    background-color: #f8f8f8;
    border-right: 1px solid #e7e7e7;
}
.side-menu .navbar {
    border: none;
}
.side-menu .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
    background-color: transparent;
    margin-right: -1px;
    border-right: 5px solid #e7e7e7;
}
.side-menu .navbar-nav li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav li a {
    padding: 10px;
}

.collapse.in > div
{
    background-color: #80808070!important;
}
.collapse.in .navbar-nav>li>a
{
    font-size: 12px!important;
}
.side-menu .navbar-nav li a .glyphicon {
    padding-right: 10px;
}
.side-menu #dropdown {
    border: 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.side-menu #dropdown .caret {
    float: right;
    margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
    float: right;
}
.side-menu #dropdown > a {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
    padding: 0;
    background-color: #f3f3f3;
}
.side-menu #dropdown .panel-body .navbar-nav {
    width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
    border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
    margin-left: -20px;
    padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
    margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
    padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
    border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
    background-color: #f3f3f3;
    border: 0;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
   min-height: 65px;
}
.side-menu .brand-name-wrapper .navbar-brand {
    display: block;
}
.side-menu #search {
    position: relative;
    z-index: 1000;
}
.side-menu #search .panel-body {
    padding: 0;
}
.side-menu #search .panel-body .navbar-form {
    padding: 0;
    padding-right: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
    width: 100%;
    position: relative;
}
.side-menu #search .panel-body .navbar-form input {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0;
    background-color: #f3f3f3;
    padding: 15px 18px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}
/* Main body section */
.side-body {
    margin-left: 230px;
}
/* small screen */
@media (max-width: 768px) {
    .side-menu {
        position: relative;
        width: 100%;
        height: 0;
        border-right: 0;
        border-bottom: 1px solid #e7e7e7;
    }
    .side-menu .brand-name-wrapper .navbar-brand {
        display: inline-block;
    }

    /* Slide in animation */
    @-moz-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-webkit-keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @keyframes slidein {
        0% {
            left: -300px;
        }
        100% {
            left: 10px;
        }
    }
    @-moz-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @-webkit-keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    @keyframes slideout {
        0% {
            left: 0;
        }
        100% {
            left: -300px;
        }
    }
    /* Slide side menu*/
    /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
    .side-menu-container > .navbar-nav.slide-in {
        -moz-animation: slidein 300ms forwards;
        -o-animation: slidein 300ms forwards;
        -webkit-animation: slidein 300ms forwards;
        animation: slidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .side-menu-container > .navbar-nav {
        /* Add position:absolute for scrollable menu -> see top comment */
        position: fixed;
        left: -300px;
        width: 300px;
        top: 43px;
        height: 100%;
        border-right: 1px solid #e7e7e7;
        background-color: #f8f8f8;
        -moz-animation: slideout 300ms forwards;
        -o-animation: slideout 300ms forwards;
        -webkit-animation: slideout 300ms forwards;
        animation: slideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Uncomment for scrollable menu -> see top comment */
    /*.absolute-wrapper{
          width:285px;
          -moz-animation: slideout 300ms forwards;
          -o-animation: slideout 300ms forwards;
          -webkit-animation: slideout 300ms forwards;
          animation: slideout 300ms forwards;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
      }*/
    @-moz-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-webkit-keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @keyframes bodyslidein {
        0% {
            left: 0;
        }
        100% {
            left: 300px;
        }
    }
    @-moz-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @-webkit-keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    @keyframes bodyslideout {
        0% {
            left: 300px;
        }
        100% {
            left: 0;
        }
    }
    /* Slide side body*/
    .side-body {
        margin-left: 5px;
        margin-top: 70px;
        position: relative;
        -moz-animation: bodyslideout 300ms forwards;
        -o-animation: bodyslideout 300ms forwards;
        -webkit-animation: bodyslideout 300ms forwards;
        animation: bodyslideout 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    .body-slide-in {
        -moz-animation: bodyslidein 300ms forwards;
        -o-animation: bodyslidein 300ms forwards;
        -webkit-animation: bodyslidein 300ms forwards;
        animation: bodyslidein 300ms forwards;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    /* Hamburger */
    .navbar-toggle {
        border: 0;
        float: left;
        padding: 30px;
        margin: 0;
        border-radius: 0;
        background-color: #f3f3f3;
    }
    /* Search */
    #search .panel-body .navbar-form {
        border-bottom: 0;
    }
    #search .panel-body .navbar-form .form-group {
        margin: 0;
    }
    .navbar-header {
        /* this is probably redundant */
        position: fixed;
        z-index: 3;
        background-color: #f8f8f8;
    }
    /* Dropdown tweek */
    #dropdown .panel-body .navbar-nav {
        margin: 0;
    }

}
@media (min-width: 768px)
{
    .navbar-toggle {
        display: none;
    }
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*end side menu*/

.mediaadmin_filters{
    background: #E2E2E2;
    padding: 10px;
    margin-bottom: 10px;
}
.medaiadmin_add, #load{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: auto;
}

.banner-text
{
    color: #FFF;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    padding-left:15%;
}
.about-cover-photo{
    background-color: #F5F5F5;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    overflow: hidden;
    position: relative;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #EEEEEE;
}
.fade {
    opacity: 0;
}
.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.fade.in {
    opacity: 1;
}

.media_item {
    float: left;
    padding: 8px;
    width: 50%;
}
.media_item_inner {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.media_item img {
    width: 100%;
}
.media_item_delete{
    position: absolute;
    right: -30px;
    top: 5px;
    transition: right 0.3s;
    background: red;
    color: #fff;
    border: none;
}
.media_item.selected{
    background: blue;
}

.media_item:hover .media_item_delete {
    right: 5px;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/*side bar menu*/

/*label*/
.control-label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.border-none{
    border: none;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #DEDEDE;
    border: 1px solid #ccc;
    border-radius: 0;
}
ul.job-desc li{
    display: block; 
    position: relative; 
    line-height: 22px; 
    text-align: left; 
    list-style: disc;
}
.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-section {
    border: 1px solid #EBEBEB;
    margin-bottom: 40px;
}
.form-section .form-section-inner {
    padding: 30px;
}
.margin-auto{
    margin: auto;
}
.job-title{
    font-size: 19px;
}
.job-deadline{
    font-size: 18px;
}
.list_unstyled{
    padding-left: 0px;
    list-style: none;
}
.job_details>ul li{
    font-size: 16px;
}
.job_details>ul li:before{
    color: #F9DF6E;
    font-size: 17px;
    margin-right: 10px;
    font-weight: bolder;
    content: '\2713';
}
.job_details {
    margin-bottom: 30px;
}
.jobapplication_application{
    margin-top: 20px;
}
/*new style*/
.header_button > div {
    display: inline-block;
}
.header_button{
   margin-bottom: 20px;
}
#site-header {
    padding: 20px 0;
}
.header_button .btn{
    font-size: 12px;
    padding: 8px 3px;
    margin-bottom: 0;
    height: 33px;
}
.page-title {
    background-color: #F5F5F5;
    padding: 50px 0;
}
#page-content {
    position: relative;
    overflow: hidden;
}
.price-tables-container {
    padding: 70px 0;
    background: url(../images/classroom.jpg) no-repeat;
    background-size: cover;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    width: 100%;
}
.subscription-plan {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    margin-bottom: 20px;
}
.subscription-plan .subscription-plan-header {
    padding: 20px 30px 20px 30px;
    background-color: #5F5F5F;
    text-transform: uppercase;
}
.subscription-plan .subscription-plan-content {
    padding: 40px;
}
.subscription-plan .subscription-plan-content .subscription-plan-inner {
    min-height: 200px;
    position: relative;
}
.subscription-plan .plan-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

element.style {
}
.btn.focus, .btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
a:hover, a:focus {
    text-decoration: none;
}
a:hover, a.active {
    color: #f3b562;
}
a:focus, a:hover {
    color: rgb(35, 82, 124);
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #3830304f;
    border-radius: 4px;
}
.hollow-btn {
    background: transparent;
    border: 1px solid #888888!important;
    border-radius: 2px!important;
    color: #888888;
    height: 30px;
    font-size: 11px!important;
}
.subscription-plan .plan-button.free-trial {
    bottom: -20px;
}
.subscription-plan .subscription-plan-header .plan-title {
    color: #FFF;
    font-size: 24px;
    margin-top: 0;
    text-align: center;
}
.subscription-plan .subscription-plan-header .plan-price {
    color: #F9DF6E;
    font-size: 22px;
    text-align: center;
}
.ui-accordion .ui-accordion-header {
    padding: 1.5em 1.5em 1.5em 1.7em;
}
.ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active {
    border: 1px solid #F9DF6E;
    background: #F9DF6E;
    font-weight: 400;
     color: #333333;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #333333;
    text-decoration: none;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: inherit;
    height: auto!important;
}
.subscription-option.free-option {
    width: 400px;
    margin: 0 auto;
}
.subscription-option.selected {
    border: 5px solid #F8DF6C;
}
.subscription-option {
    background-color: #F5F5F5;
    border: 5px solid #FFF;
    margin-bottom: 30px;
    padding: 30px 15px;
    text-align: center;
    cursor: pointer;
}
.subscription-option .option-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.subscription-option.free-option .option-price {
    font-size: 28px;
}

.subscription-option .option-price {
    color: #F8DF6C;
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 23px;
}
.subscription-option .option-description {
    font-size: 12px;
}
.subscription-option input[type="radio"] {
    display: none;
}
.subscription-option.free-option button {
    margin-top: 10px;
    padding: 4px;
}
#accordion{
    margin-top: 20px;
}
.btn-primary {
    border: 2px solid #fff;
    background-color: #f3b562;
    color: #fff;
}
.fullscreen {
    background-repeat: no-repeat;
    background-size: cover;
}
.slick-list{
    max-height: 500px;
}
.dropdown-menu li{
   display: inline-block;
}
.margin-bottom20{
    margin-bottom: 20px;
}
/*end style*/

.CandidateItem--grid {
    border: 1px solid #ECECEC;
    margin-top: 20px;
}
.CandidateItem__inner {
    padding: 20px;
    text-align: center;
    min-height: 345px;
}
.CandidateItem__image img {
    margin: 0 auto;
    border-radius: 50%;
}
.CandidateItem__name {
    margin: 10px 0;
}
.CandidateItem__videolink {
    margin: 10px 0;
}
.CandidateItem__buttons {
    border-top: 1px solid #ECECEC;
}
.CandidateItem__buttons a:first-child {
    border-right: 1px solid #ECECEC;
}
.CandidateItem__buttons a {
    display: inline-block;
    font-size: 12px;
    padding: 10px 10px;
}
.CandidateItem i {
   
    margin-right: 5px;
}
.candidate .candidate-name {
    color: #030303;
    font-size: 20px;
    margin-bottom: 10px;
}
.candidate .candidate-meta {
    margin-bottom: 15px;
}
.candidate .candidate-skills-container {
    display: table;
    width: 100%;
    margin-bottom: 20px;
}
.candidate .candidate-buttons > div {
    margin-bottom: 5px;
}
.candidate .candidate-skills-container .skill-label {
    width: 10%;
}
.candidate .candidate-skills-container > div {
    display: table-cell;
}
.candidate .candidate-meta span {
    display: inline-block;
    margin-right: 20px;
}
.search-item {
    border-bottom: 1px solid #EBEBEB;
    padding: 30px 0;
}
.candidate .candidate-skills-container .candidate-skill {
    display: inline-block;
    padding: 5px 10px;
    background: #E3E3E3;
    margin: 3px;
}
.CandidateSearchMeta {
    border-bottom: 2px solid #F6F6F6;
}
.CandidateSearchMeta__view-switch label {
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
}
.CandidateSearchMeta__view-switch label.active {
    color: #F9DE6E;
}

.CandidateSearchMeta__view-switch label {
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
}
.candidate .candidate-image {
    text-align: center;
}
.hollow-btn
{
   min-width: 135px;
}
.jobsearch_content{
        padding: 150px 0;
}
.main-btn {
    color: #000;
    background-color: #F9DE6E;
    border-color: transparent;
    padding: 9px 20px;
    border-radius: 1px;
    display: inline-block;
    font-size: 12px;
}
  .Slideshow .slick-arrow {
        display: block!important;
    background: none;
    border: none;
    color: #F9DF6E;
    font-size: 30px;
    position: absolute;
    top: 50%;
    z-index: 20;
}
.success-video-carousel .SuccessStories__item__title {
    color: #FFF;
}
.success-video-carousel .slick-arrow.slick-prev {
    left: -30px;
}
.success-video-carousel .slick-arrow.slick-next {
    right: -30px;
}
.success-video-carousel .slick-arrow {
    margin-top: -47px;
}
.howto_videos{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}
.howto_videos_meta{
        margin: 15px 0;
}
#form-cover-photo {
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.main-btn i {
    margin-right: 5px;
}
.mediamanager_item {
    border: 1px solid #EBEBEB;
    padding: 30px 5px;
    position: relative;
    text-align: center;
}
.mediamanager_item_image {
    padding: 5px;
    margin: 10px 0;
}
.mediamanager_item_delete {
    background-color: #FFF;
    border: 1px solid #030303;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    padding: 5px;
    position: absolute;
    right: -6px;
    top: -6px;
}
.mediamanager_item:hover .mediamanager_item_delete {
    display: block;
}
#mediamanager_modal .modal-body {
    max-height: 550px;
    overflow-y: auto;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    border: 2px solid #f3b562;
    background-color: #f3b562;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    border: 2px solid #f3b562;
    background-color: #f3b562;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    border: 2px solid #f3b562;
    background-color: #f3b562;
}
.mediamanager_item.selected {
    background: #F9DF6E;
}
.photoedit_photo{
    background: #F5F5F5;
    height: 180px;
    margin: 0 auto 10px;
    position: relative;
    width: 180px;
}
.photoedit_photo img {
    width: 100%;
    height: 100%;
}
.btn-primary{
    padding: 11px 15px 10px;
}
.profile-photo-btn {
    position: absolute;
    bottom: 3px;
    width: 100%;
    text-align: center;
    height: 100%;
    top: 0;
    background: rgba(249, 223, 110, 0.5);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    color: #FFF;
    cursor: pointer;
    -ms-flex-direction: column;
    flex-direction: column;
}
.photoedit_photo:hover .profile-photo-btn{
    opacity: 1;
    visibility: visible;
}
div.errorMessage
{
	color : red;
}
.btn-danger:hover{
    color: white;
}
.btn-danger{
    color: white;
}
.input-group .form-control{
    z-index: 1;
}