/* Override some defaults */
html, body {
	background-color: #eee;
}
.container > footer p {
	text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.breadcrumb {
	padding: 7px 20px;
	margin: 0 -20px 18px;
}
.appcontent {
	background-color: #fff;
	padding: 8px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	   -moz-border-radius: 0 0 6px 6px;
	        border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}

.topbar .btn {
	border: 0;
}

/* Footer */
.footer {
	background-color: #eee;
	min-width: 940px;
	margin-top: 30px;
	padding: 30px 0;
	text-shadow: 0 1px 0 #fff;
	border-top: 1px solid #e5e5e5;
	-webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
	   -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
	        box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
}
.footer p {
	color: #555;
	text-align: center;
}