/*common style*/
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table
}
.clearfix:after, .container:after, .container-fluid:after, .row:after {
    clear: both
}
html {
    background-color: #131b28;
}

body{
    background:#f3f6f9;
    color: #333;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.5px;
    /*opacity: 0;*/
}

p {
    padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
h1 {
    font-size: 32px;
    line-height:34px;
}

h2 {
    font-size: 24px;
    padding-bottom: 20px;
    line-height: 26px;
}

h1,
h2 {
    padding-bottom: 40px;
}

h4,
h5,
h6 {
    font-weight: 300;
}

h4,
h5,
h6 {
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-size: 18px;
    padding-bottom:20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
    line-height: 18px;
}

h6 {
    font-size: 12px;
    line-height: 16px;
}

a {
    color: #000;
}

a:focus {
    color: #272725;
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #272725;
    text-decoration: none;
}

a {
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contactus-section .contact-row {
    display: flex;
}

input:focus,
textarea:focus {
    outline: none
}

.text-center {
    text-align: center;
}

.container {
    position: relative;
    margin:0 auto;
    max-width: 1170px;
    padding:0 15px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

strong {
    font-weight: 400;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}
input {
    /* -webkit-appearance: none; */
    border-radius: 0;
}
img{
    max-width:100%;
}

.background-transparent{
    transform: matrix(1, 0, 0, 1, 0, 0);
    top: 0px;
    background: #fff;
    padding-top: 0;
    box-shadow: 0 1px 0 rgba(255,255,255,0.37);
}
header{
    -webkit-transition: background-color .3s ease-out;
    transition: background-color .3s ease-out;
    z-index: 1001;
    position: relative;
    width: 100%;
    height: 85px;
    clear: both;
    top: 0;
    background: transparent;
}

header.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.nav-menu li a{
    color: #444;
}
.header-logo{
    /*width: 55px;*/
    /* height: 40px; */
    float: left;
    /* margin: 0; */
    /* margin-left: 40px; */
    margin-top: 25px;
    cursor: pointer;
    fill: #000;
    pointer-events: all;
}
.nav-menu{
    float: right;
    margin-top: 20px;
}
.nav-menu li{
    float: left;
    border: 2px solid transparent;
    padding: 10px 10px;
}

.nav-menu li:hover{
    /*color: #fff;*/
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    border: 2px solid #fff;
}
.nav-menu li.active{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    border: 2px solid #fff;
}
.nav-menu li.active a{
    color: #fff;
}

.nav-menu li a{
    /*color: #fff;*/
    font-weight: 400;
}
.banner-section{
    position: relative;
}
.img-bg {
    display: none !important;
}
.banner-section .setCover{
    height: 100%;
    background-attachment: fixed;
}

.setCover {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.banner-section:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0000008c;
    /*top: 0;*/
    left: 0;
}
.banner-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    list-style-type: none;
}
.list-wrap{
    box-sizing: border-box;
    border: 6px solid #fff;
    background-color: #fafafa;
    height: 592px;
    width: 50%;
    height: 598px;
}
.section{
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    z-index: 0; 
    background: #fff;
}
h3{
    font-size: 32px;
    line-height: 40px;
    font-weight: 300;
    color: #333;
    padding-bottom: 0px;
}
.divider {
    display: block;
    margin: 20px 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 2px;
    margin-bottom: 40px;
}
.divider::before, .divider::after{
    content: '';
    height: 1px;
    width: 37px;
    position: absolute;
    background-color: #e5e7e9;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

.divider.divider-center::after{
    bottom: 0;
    left: 50%;
    margin-left: -7px;
}
.divider.divider-center::before {
    top: 0;
    right: 50%;
    margin-right: -7px;
}

.divider-alt.divider-dark, .divider.divider-dark::before, .divider.divider-dark::after {
    background-color: #333;
}
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; }

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; }
.slick-list:focus {
    outline: none; }
.slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block; }
.slick-track:before, .slick-track:after {
    content: "";
    display: table; }
.slick-track:after {
    clear: both; }
.slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; }
[dir="rtl"] .slick-slide {
    float: right; }
.slick-slide img {
    display: block; }
.slick-slide.slick-loading img {
    display: none; }
.slick-slide.dragging img {
    pointer-events: none; }
.slick-initialized .slick-slide {
    display: block; }
.slick-loading .slick-slide {
    visibility: hidden; }
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
    display: none; }

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.PageSlideshow__nav-btn {
    color: #F9DF6E;
}

.background-grey {
    background-color: #f5f7f9;
}
.PageSlideshow__slide p{
    padding-bottom: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn {
    font-size: 12px;
    padding: 6px 25px;
}
.btn-primary {
    color: #000;
    background-color: #F9DF6E;
    border-color: #f8da56;
}
.banner-desc {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    text-align: center;
}
.banner-desc h1 {
    padding-bottom: 15px;
}
.banner-desc h1, .banner-desc p {
    color: #fff;
}
.banner-desc h1 {
    line-height: 40px;
}
.banner-desc p {
    padding-bottom: 20px;
    font-size: 20px;
}
.banner-desc h1, .banner-desc p {
    color: #fff;
}
.videos-wrap{
    float: left;
    width: 100%;
    position: relative;
    margin: 10px 0;
}
.thumb, figure {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.copyright{
    line-height: 40px;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    margin-top: 30px;
}
.background-white {
    background-color: #fff;
}
.listing {
    text-align: center;
}
.listing li {
    display: inline-block;
    width: 25%;
    padding: 0 5px;
    margin: 0 -2px 10px;
    vertical-align: top;
}

.listing li > div, .quick-setup li > div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.listing li > div {
     box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    min-height: 70px;
}
.bottom-wrap {
    font-weight: bold;
    /* color: #fff; */
    width: 100%;
    min-height: 60px;
}
.login-btn{
    z-index: 8;
    white-space: nowrap;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    visibility: inherit;
    transition: none;
    /*border-radius: 100px;*/
    font-style: normal;
    color: #F9DF6E;
    border-width: 2px;
    border-style: solid;
    border-color: #F9DF6E;
    background-color: rgba(0, 0, 0, 0);
    line-height: 20px;
    margin: 0px;
    padding: 13px 40px;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 14px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
    cursor: pointer;
}

.banner-desc span{
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}
.price-tables-container {
    padding: 20px 0;
    /*    background: url(../images/classroom.jpg) no-repeat;
        background-size: cover;*/
}
.subscription-plan {
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    margin-bottom: 20px;
}
.subscription-plan .subscription-plan-header {
    padding: 20px 30px 20px 30px;
    background-color: #5F5F5F;
    text-transform: uppercase;
}
.subscription-plan .subscription-plan-content {
    padding: 40px;
}
.subscription-plan.premium .subscription-plan-header {
    background-color: #F9DF6E;
}
.subscription-plan .subscription-plan-content .subscription-plan-inner {
    min-height: 250px;
    position: relative;
}
/*.subscription-plan .plan-description {
    margin-bottom: 10px;
}*/
.btn-danger {
    color: #fff;
    background-color: #f30e07;
    border-color: #f5160e;
}
.btn-danger:hover, .btn-danger:active:focus, .btn-danger:active.focus, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus {
    color: #fff!important;
    background-color: #ac2925;
    border-color: #761c19;
}
.fa-ul {
    padding-left: 0;
    margin-left: 2.14286em;
    list-style-type: none;
}

.subscription-plan .plan-features ul {
    margin-left: 0;
    padding-left: 0;
}
.subscription-plan .plan-button.free-trial {
    bottom: -40px;
}

.subscription-plan .emp-free-trial.free-trial {
    bottom: -40px;
}

small{
    font-weight: 600;
}
.jwplayer{
    width:100%!important;
    height: 150px!important;
}

.subscription-plan .plan-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.subscription-plan .emp-free-trial {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.background-membeship {
    background-color: #f5f7f9;
    background: url(../images/classroom.jpg) no-repeat;
    background-size: cover;
}

.background-membeship .text-center{
    color: #fff;
}
.divider-alt.divider-dark,.background-membeship .divider.divider-dark::before,.background-membeship .divider.divider-dark::after {
    background-color: #fff;
}
.subscription-plan .subscription-plan-header .plan-title {
    color: #FFF;
    font-size: 24px;
    margin-top: 0;
    text-align: center;
    padding-bottom: 10px;
}
.subscription-plan .subscription-plan-header .plan-price {
    color: #F9DF6E;
    font-size: 22px;
    text-align: center;
}
.subscription-plan .plan-features i {
    color: #F9DF6E;
}
.plan-features li i {
    position: absolute;
    top: 6px;
    left: 0;
}
.subscription-plan.premium .subscription-plan-header .plan-price {
    color: #030303;
}
/*.subscription-plan .plan-description {
    margin-bottom: 10px;
}*/
.fa-ul > li {
    position: relative;
}
.plan-can-premium {
    height: 450px!important;
}
.subscription-plan {
    height: 450px!important;
}
.plan-features li {
    position: relative;
    padding: 0px 0px 5px 20px;
}

.hollow-btn:hover {
    color: #000;
}
.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.hollow-btn {
    background: transparent;
    border: 1px solid #888888;
    border-radius: 2px;
    color: #888888;
}
*:focus, *:active {
    border: none;
    outline: none;
}
.about-image{
    background-repeat: no-repeat;
    background-image: url(../images/slide-3.jpg);
    background-size: cover;
    max-width: 654px;
    background-position: center;
    height: 476px;
}
.about-image-top{
    background-repeat: no-repeat;
    background-image: url(../images/slide-6.jpg);
    background-size: cover;
    max-width: 654px;
    background-position: center;
    height: 490px;
}

.about-image-worry{
    background-repeat: no-repeat;
    background-image: url(../images/slide-9.jpg);
    background-size: cover;
    max-width: 654px;
    background-position: center;
    height: 500px;
}
.about-image-faqs{
    background-repeat: no-repeat;
    background-image: url(../images/slide11.jpg);
    background-size: cover;
    max-width: 654px;
    background-position: center;
    height: 350px;
}
.popup-wrapper {
    background-color: rgba(0,0,0,.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.popup-blk {
    display: table;
    max-width: 800px;
    margin: 0 auto;
    height: inherit;
    width: 100%;
}
.popup-middle-blk {
    display: table-cell;
    vertical-align: middle;
}
.popup-content {
display: block;
    background-color: #fff;
    padding: 30px;
    position: relative;
    max-height: 600px;
    overflow-x: auto;
}
.popup-close, .popup-btn {
    position: absolute;
    width: 30px;
    height: 40px;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}
.dropdown-menu {
       position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-weight: 600;
    list-style: none;
    font-size: 13px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}
.dropdown-menu {
    left: auto;
    /*right: 0;*/
}
.nav-menu>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.background-transparent .nav-menu li{
    padding: 6px 21px;
    margin: 0 7px;
    color: #FFF;
    background-color: #888;
    border-color: #888;
}
.background-transparent .dropdown-toggle{
    color: #FFF;
    background-color: #888;
    border-color: #888;
    font-size: 12px;
    padding: 6px 10px;
}
.list-wrap:active, .list-wrap:focus{
    border: 6px solid #fff;
}
.grid-1{
    background-repeat: no-repeat;
    background-image: url(../images/slide-5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.grid-2{
    background-repeat: no-repeat;
    background-image: url(../images/slide-6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.grid-1:before, .grid-2:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #0000008c;
    top: 0;
    left: 0;
    outline: none;
}
.dropdown-menu>li{
    float: none;
    padding: 5px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.site-navigation {
    background-color: #EBEBEB;
}
.collapse {
    display: none;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-menu li >a {
    color: #fff;
}
.dropdown-menu li{
    background: transparent;
    background-color: transparent!important;
    border-color: transparent!important;
}
/*.banner-section:before{

    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -90px;
    height: 180px;
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    background: #f2f2f2;
    z-index: -1;

}*/
.dropdown-menu li a{
    color: #444;
}
.candidate-wrap{
    padding: 40px;
    color: #fff;
    position: absolute;
}
.candidate-wrap h1, .employer-wrap h1{
    padding-bottom: 10px;
}
.employer-wrap{
    padding: 40px;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 64px;
}
.list-wrap.expand-banner{
    width: 100%;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.login-btn:focus, .login-btn:active{
    color: #F9DF6E;
    border-width: 2px;
    border-style: solid;
    border-color: #F9DF6E;
}
.nav-menu .dropdown-menu li{
    padding-left: 0;   
}
.close-banner{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    z-index: 999999;
    padding: 30px;
    cursor: pointer;
    display: none;
}
.gallery-text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background-color: rgba(0,0,0,0.8);*/
    /*opacity: 0;*/
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    line-height: 598px;
}
.gallery-text:hover{
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(21, 20, 20, 0.38);
    /* opacity: 0; */
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    transition: opacity 0.6s;
    vertical-align: middle;
    line-height: 598px;
}

.gallery-text button{
    /*color: white;*/
    display: inline-table;
    vertical-align:middle;
    line-height:100%; 
    opacity: 1;      
}

/*.candidate-reg-btn, .employer-reg-btn{
    display: none!important
}*/
.active-btn{
    display: inline-block!important;
}
.hide-btn{
    display: none!important;
}
.employer-wrapper{
    display: none;
}
.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.fR{
    float: right;
    text-align: right;
}
.reg-btn{
    display: none;
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-collapse.in {
    overflow-y: auto;
}
.collapse.in {
    display: block;
}
.dropup, .dropdown-wrap {
    position: relative;
}
.Header__buttons > div {
    display: inline-block;
}
.Header__buttons {
    text-align: center;
    margin-bottom: 20px;
}


.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.dropup,
.dropdown {
  position: relative; }

.dropdown-toggle:focus {
  outline: 0; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box; }
  .dropdown-menu.pull-right {
    right: 0;
    left: auto; }
  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5; }

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7; }

.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  color: #777777; }

.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; }

/*.open > .dropdown-menu {
  display: block; }*/

.open > a {
  outline: 0; }

.dropdown-menu-right {
  left: auto;
  right: 0; }

.dropdown-menu-left {
  left: 0;
  right: auto; }

.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857;
  color: #777777;
  white-space: nowrap; }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990; }

.pull-right > .dropdown-menu {
  right: 0;
  left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px; }
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    color: #FFF;
    background-color: #5d5d5d;
    border-color: #484848;
}
.btn-default {
    color: #FFF;
    background-color: #888;
    border-color: #888888;
}
.btn-default:hover {
    color: #FFF;
    background-color: #6f6f6f;
    border-color: dimgray;
}
.contactus-section{
    display:none;
}
.cv-video {
    width:100%; 
    max-width: 654px; 
    height: 476px;
}
.open > .dropdown-menu-dis {
    display: block;
}
.dropdown-menu {
    min-width: 200px;
}
.afs_ads{
    padding: 0!important;
    min-height: auto!important;
}
.show{
    display: block!important;
}
.hide{
    display: none!important;
}

 .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: left;
      font-size: 13px;
      display: block;
      
    }
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color:#000;
      opacity: 1;
      background: rgba(0,0,0,0.2);
    }
    .swiper-pagination-bullet-active {
      color:#fff;
      background: #007aff;
    }
    .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
}


.swiper-pagination-bullet-active {
    color: #444;
    background: #F9DF6E;
}
.btn-wrapper .btn{
    cursor: pointer;
}.btn-wrapper {
    position: absolute;
    z-index: 99999;
    /* margin-top: -11px; */
    /* display: block; */
    bottom: 71px;
    /* top: 48px; */
    width: 100%;
    text-align: center;
}
#site-content {
    overflow: hidden;
}
.contact-us {
    color: black;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header-logo img {
    width: 60px;
}

#why-cvvid .jwplayer {
    width: 100%!important;
    height: 476px!important;
}

#top-tips .jwplayer {
    width: 100%!important;
    height: 444px!important;
}

#top-tips .slick-list {
    height: 485px!important;
}

.font-dropdown {
    display: none;
  }
.succes-video {
    width: 100%;
    height: 140px;
    padding-bottom: 10px;
}