@media screen and (max-width: 1024px) {
    
}

@media (min-width: 992px)
{
    .col-md-offset-2 {
        margin-left: 16.66667%;
    }
}
@media screen and (min-width: 768px) {
    .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    font-size: 12px;
}
.navbar-toggle {
    display: none;
}
.header-right {
    text-align: right;
        margin-top: 25px;
        
}
.Header__buttons {
    float: right;
    text-align: left;
}

}
@media screen and  (max-width: 767px) {
    .jwplayer {
        height: 200px!important;
        width: 265px!important;
        margin: auto!important;
    }
    .cv-img{
        height: 181px;
        width: 265px!important;
        margin: auto;
    }
    #my-video{
        height: 200px!important;
    }
    .register-class {
        margin-top: 70px;
    }
    .register-page {
        bottom: 0px!important;
    }
    .btn-wrapper {
        bottom: -49px;
       }
    .btn-head {
        background-color: #080808;
        border-color: #e8c219;
    }
    .PageSlideshow__nav-btn {
        color: #F9DF6E;
        font-size: 40px;
    }
    .PageSlideshow__pages{
        font-size: 20px;
    }
    .padd-font {
        font-weight: 900;
    padding-bottom: 0px;
    }
    [class*=col-xs-]{ width: 100%; }
    
    h3 {
        font-size: 15px;
        line-height: 30px;
    }
    .banner-section{
        height: auto!important;
    }
    .section{
        padding: 10px 0px;
    }
    .list-wrap{
        width: 100%;
        height: 200px;
    }
    .gallery-text{
        line-height: 200px;
    }
    /* .gallery-text button {
        line-height: 20px;
    } */
    .gallery-text:hover{
        line-height: 200px;
    }
     .header-logo{
         width: 100%;
         text-align: center;
    }
    .nav-menu ul{
            margin: 0 auto;
    float: none;
    width: 53%;
    }
    header{
            height: auto;
    }
    .header-right{
        margin-top: 20px;
    }
    .listing li {
    width: 100%;
    }
    .cv-video{
        width: 265px;
    height: 200px;
    }
    .about-img {
        height: 200px;
    }
    .subscription-plan .plan-button.free-trial {
        bottom: -60px;
    }
    .subscription-plan{
        height: 500px;
    }
    #why-cvvid2 {
        text-align: center;
    }
    .Header__buttons {
        margin-bottom: 10px;
    }
    .subscription-plan .plan-button.free-trial {
        bottom: 8px;
    }
    .subscription-plan {
        height: 400px;
    }
    .subscription-plan .plan-button {
        position: absolute;
        bottom: 19px;
        width: 100%;
        text-align: center;
    }
}

@media screen and  (max-width:568px) {
    .header-logo{
         width: 100%;
         text-align: center;
    }
    .nav-menu ul{
            margin: 0 auto;
    float: none;
    width: 100%;
    }
    header{
            height: auto;
    }
}

@media screen and  (max-width:400px) {
    .swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    /* height: 577px!important;
    max-height: 583px; */
}
}

@media screen and  (max-width:568px) {
    .why-cvvid .jwplayer {
        width: 100%!important;
        height: 150px!important;
    }
    .why-cvvid-slide .slick-list {
        height: 185px!important;
    }
    .site-navigation .navbar-toggle {
        padding: 0px 10px;
        font-size: 25px;
    }
  
    body {
        background: #ffffff;
    }
    .Header__right {
        text-align: right; }
    .form-user-details {
        padding: 20px;
    }

    .font-dropdown {
        display: block;
        float: right;
      }
  
      .nav > li > a:hover, .nav > li > a:focus {
        text-decoration: none;
        background-color: #f5f5f5;
        color: black;
    }
    .dropdown-menu {
        background-color: #ebebeb;
    }

    .dropdown-menu>li {
        float: none;
        padding: 1px;
    }

    .form-section {
        border: 1px solid #EBEBEB;
        margin-bottom: 5px;
    }
    .jwplayer{
        width:100%!important;
        height: 150px!important;
    }
    .background-membeship h3 {
		/* font-size: 20px; */
    font-weight: 600;
    }
    .subscription-plan .subscription-plan-header .plan-price {
        color: #F9DF6E;
        font-size: 18px;
        text-align: center;
    }

    .subscription-plan .subscription-plan-header .plan-title {
        color: #FFF;
        font-size: 18px;
        margin-top: 0;
        text-align: center;
        padding-bottom: 10px;
    }
    .contact-sm{
        width: 100%!important;
    }
    h1 {
        font-size: 22px;
    }
    
    .divider {
        display: none;
    }

    .plan-description{
        color: black;
        font-weight: 700;
    }

  .plan-features  { color: black;
    font-weight: 700;
}

.hollow-btn{
    font-weight: 600;
    color: black;
}
.plan-price{
    font-weight: 600;
}
.plan-title{
    font-weight: 600;
}
.plan-price{
    font-weight: 600;
}
.about-image{
    background-size: contain;
    max-width: 654px;
    background-position: center;
    height: 200px;
}
.col-sm-6{
    width:100%;
}



}



#worry-list2{
    visibility: hidden;
}

@media screen and  (max-width:360px) {
    .free-trial {
        bottom: -40px!important;
    }
    .plan-can-premium {
        height: 430px!important;
    }
    .why-cvvid .jwplayer {
        width: 100%!important;
        height: 150px!important;
    }
    .why-cvvid-slide .slick-list {
        height: 185px!important;
    }
    .plan-can-free {
        height: 358px!important;
    }
    .can-free {
        bottom: 53px!important;
    }
    .container {
        width: 100%;
    }
    .list-wrap {
        width: 100%;
        height: 200px;
    }
    .subscription-plan .plan-button.free-trial {
        bottom: -42px;
    }
    .subscription-plan {
        height: 444px;
    }
    .col-sm-6{
        width:100%!important;
    }
    .col-sm-offset-3{
        left:0px!important;
    }
    .row{
        display: block!important;
    }

    /* #how-to{
        display: none;
        visibility: hidden;
    } */
    #worry-list2{
        display: block;
        visibility: visible;
    }
    
}

@media screen and  (max-width: 320px) {
    .plan-can-free {
        height: 400px!important;
    }
    .plan-can-premium{
        height: 470px!important;
    }
    .subscription-plan .plan-button.free-trial {
        bottom: -55px;
    }
    .can-free {
        bottom: 8px!important;
    }
    .free-trial {
        bottom: -60px!important;
    }

}

@media screen and  (max-width: 320px) {
    .plan-can-premium{
        height: 470px;
    }
}

@media screen and  (min-width: 375px) {
    .plan-can-premium{
        height: 430px;
    }
    .free-trial {
        bottom: -20px!important;
    }
}

@media screen and  (max-width: 411px) {
    .plan-can-premium {
        height: 412px;
    }
    .free-trial {
        bottom: 0px;
    }
    .subscription-plan {
        height: 367px;
    }
    .subscription-plan .plan-button {
        position: absolute;
        bottom: 46px;
        width: 100%;
        text-align: center;
    }
    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
    }
    label {
        font-weight: normal;
        color: #000000;
        font-family: freight-text-pro,serif;
        font-size: 15px;
    }
    
}



.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    display: grid;
}

.col-sm-6 {
    width: 50%;
}
/* .row{
    display: -webkit-box;
} */
.col-sm-offset-3{
    left:25%;
}
.form-control{
    border: 1px solid #ccc;
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}